@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;500;600;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.025em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.indigo {
    color: #4939c3;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
}

p {
    line-height: 1.375;
}

.no-cursor {
    cursor: not-allowed;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    max-width: 1200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 0 32px;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    gap: 24px;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    font-size: 16px;
    color: #2e2097
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid #4939c3;
    border-radius: 4px;
    padding: 8px 16px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #4939c3;
    display: flex;
    box-sizing: border-box;
    width: 40px;
}

.menu__backdrop {
    position: absolute;
    background-color: #29292db0;
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 300ms ease;
    visibility: hidden;
    opacity: 0;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;

}

.menu__link {
    font-size: 32px;
    text-decoration: none;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 24px;
    top: 16px;
    padding: 8px;
    color: white;
}

#landing {
    background-color: rgba(66, 71, 214, 0.1);
}

header {
    padding: 32px 0 64px 0;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 64px;
    padding: 0 24px;
}

.header__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.header__description .btn{
    margin-top: 16px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #2e2097;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

button {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

button:active {
    transform: translateY(2px);
    transform: scale(0.975);
}

.btn {
    background-color: #4939c3;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.btn:active {
    background-color: #3b2f9c;
}

.header__img--wrapper {
    padding: 0 0;
    height: 100%;
    max-height: 50vh;
    z-index: 2;
}

.container {
    padding: 64px 0 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 4px;
}

#highlights {
    position: relative;
}

#highlights:before,
#highlights:after {
    background: url(./assets/wave.svg);
    content: "";
    position: absolute;
    left: 0;
    width: 101vw;
    height: 12vw;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 40px 0px 40px;
    gap: 48px 32px;
    justify-content: center;
}

.highlight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 30%;
    gap: 14px;
    text-align: center;
}

.highlight__img {
    border: 2px solid #4939c35d;
    color: #4939c3;
    width: 14vh;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 40px;
    margin-bottom: 16px;
}

.highlight__subtitle {
    font-size: 20px;
}

.highlight__para {
    max-width: 270px;
}

#features {
    background-color: rgba(66, 71, 214, 0.1);
    padding-top: 8vw;
}

.books {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 40px 0px 40px;
    gap: 56px;
    justify-content: space-evenly;
}

.book {
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    letter-spacing: 0.0em;
}

.book__img--wrapper {
    height: 319px;
    display: flex;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.3s ease;
    box-shadow: 2px 4px 12px rgba(19, 19, 20, 0.2);
}

.book__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: no-drop;
}

.book:hover .book__img--wrapper {
    transform: scale(1.03);
    box-shadow: 2px 4px 16px rgba(19, 19, 20, 0.15);
}

.book__title {
    font-size: 18px;
    font-weight: 600;
}

.book__ratings {
    margin: 8px 0;
    color: #e2a710
}

.book__price {
    font-size: 18px;
    font-weight: 600;
}

.book__price--normal {
    text-decoration: line-through;
    color: #9492a2;
    font-weight: 400;
}

/* #recent .books {
    justify-content: start;
} */

#explore {
        background-color: rgba(66, 71, 214, 0.1);
}

#explore .row {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

footer {
    background-color: #29292d;
    color: white;
    text-align: center;
}

footer .row {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer__top {
    display: flex;
    width: fit-content;
    margin-bottom: 16px;
}

.footer__logo {
    display: flex;
    width: fit-content;
}

.footer__logo--img {
    display: flex;
    width: fit-content;
    height: 64px;
    filter: grayscale(1) invert(1);
}

.footer__list {
    display: flex;
    justify-content: center;
    gap: 24px;
    font-weight: 600;
}

.footer__link,
.footer__copyright {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .highlight {
        flex: 1 0 45%; /* Change to 45% on smaller screens */
        max-width: 330px;
        min-width: 220px;
    }
}

@media (max-width: 590px) {
    .nav__links {
        display: none;
    }
}

@media (min-width: 589px) {
    .btn__menu {
        display: none;
    }
}

@media (max-width: 480px) {
    .highlight {
        flex: 1 0 100%; /* Change to 100% on mobile screens */
    }

    .nav__container {
        padding: 0 24px;
    }
}